<ion-view title="ComeThru Sent" hide-nav-bar="true">
  <ion-content>
    <div class="sent-container">
        <div class="text-center">
          <br>
          <br>
              <h2> You've asked:</h2>

          <br>
               <h2><span class="request-number">25</span> friends to</h2> 
               <h2>ComeThru <img src="img/plane.png" class="comethru-logo-splash"></h2>
        
          <br>
                <h2><span class="to_for-mini">to: </span>934 Howard St.</h2> 
                <h2><span class="to_for-mini">for: </span>free pizza!</h2>

        </div>


            
          
    </div>
  </ion-content>
</ion-view>
